{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% include "components/header.html" %}
<ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
  {% for item in pokemon %}
  <li class="relative">
    <div class="group aspect-h-10 aspect-w-10 w-full block overflow-hidden rounded-lg focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
      <img src="{{item.image_url|display_some}}" alt="" class="pointer-events-none object-cover group-hover:opacity-75">
      <a href="/pokemon/{{item.id}}">
        <button class="absolute inset-0 focus:outline-none" >
          <span class="sr-only">View details for {{item.name}}</span>
        </button>
      </a>
    </div>
    <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900 text-center capitalize">{{item.name}}</p>
    <!--<p class="pointer-events-none block text-sm font-medium text-gray-500">{{item.image_url|display_some}}</p>-->
  </li>
  {% endfor %}

  <!-- More files... -->
</ul>

<div class="my-8">
  <nav class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0" x-data="{current_page: {{current_page}}}">
  <div class="-mt-px flex w-0 flex-1">
    <a href="/pokemon?page={{current_page.saturating_sub(1)}}&page_size={{page_size}}" x-bind:class="current_page<=0? 'hidden' : ''" class="inline-flex items-center border-t-2 border-transparent pr-1 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
      <svg class="mr-3 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z" clip-rule="evenodd" />
      </svg>
      Previous
    </a>
  </div>
  <div class="md:-mt-px md:flex">
    {% for item in pagination.items %}
      {% if item.hide %}
        <a href="/pokemon?page={{item.page}}&page_size={{page_size}}" class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">...</a>
      {% else if item.is_current %}
        <a class="inline-flex items-center border-t-2 border-indigo-500 px-4 pt-4 text-sm font-medium text-indigo-600" aria-current="page">{{item.page+1}}</a>
      {% else %}
        <a href="/pokemon?page={{item.page}}&page_size={{page_size}}" class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">{{item.page+1}}</a>
      {% endif %}
    {% endfor %}
  </div>
  <div class="-mt-px flex w-0 flex-1 justify-end">
    <a href="/pokemon?page={{current_page+1}}&page_size={{page_size}}" x-bind:class="current_page+1>={{total_pages}}? 'hidden' : ''" class="inline-flex items-center border-t-2 border-transparent pl-1 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
      Next
      <svg class="ml-3 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd" />
      </svg>
    </a>
  </div>
</nav>
</div>
{% endblock %}
