{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
<style>
  #result {
    display: block;
    color: red;
  }
</style>
{% endblock %}

{% block content %}
<div>
  <h1>Login</h1>
  <form hx-post="/api/v1/auth/login" hx-ext="response-targets" hx-target-4*="#result">
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
    </div>
    <output id="result"></output>
    <button type="submit">Login</button>
    <button hx-get="/register" hx-target="body" hx-replace-url="true">Register</button>
  </form>
</div>
{% endblock %}
