{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div>
  <h1>Register</h1>
  <form hx-post="/api/v1/users">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
    </div>
    <button>Register</button>
    <button hx-get="/login" hx-target="body" hx-replace-url="true">Login</button>
</div>
{% endblock %}
